<!--    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"
    />-->
<!-- <div class="definition-word"> -->
<!-- <h3 th:text="${saludo}"> </h3> -->
<!--    <link rel="stylesheet" href="../static/css/styles.css" />-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<!--"En gramática tradicional, una palabra (del latín parabŏla) es una unidad de significado que se separa de las demás mediante pausas potenciales en el habla y blancos en la escritura. Es una unidad de la lengua que resulta muy fácil de identificar, tanto en el habla, en las señas, como en la escritura.-->

<body>
	<div class="cover-page">
		<p> Project's name: <strong>xxxx</strong></p>
		<p>Made by: <strong>Laura Zarate</strong></p>
	</div>
	<div class="box-contain">
		<header class="box-header">
			<input  id="boxSearching" type="text" placeholder="Escriba su Palabra" class="search" />
		</header>
		<div class="main-body">
			<section class="definition">
				<h3 th:unless="${word}">Definicion</h3>
				<h3 th:unless="!${word}" th:text=${word}>Definicion2</h3>
				<p th:unless="${definitions}">[TEXTO DE MUESTRA POR DEFAULT]<br>En gramática tradicional, una palabra (del latín parabŏla) es una unidad
					de significado que se separa de las demás mediante pausas potenciales en el habla y blancos en la
					escritura. Es una unidad de la lengua que resulta muy fácil de identificar, tanto en el habla, en
					las señas, como en la escritura.</p>
				<p th:unless="!${definitions}" th:text="${definitions}"></p>
				<div th:unless="${images}" id="images" class="img-search">
					<img th:src="@{img/img-default.jpeg}" alt="hola">
				</div>
				<div th:unless="!${images}" id="images" class="img-search">
					<img  th:each="imageItem: ${images}" th:src="${imageItem}">
				</div>
			</section>
			<aside class="suggested-words">
				<span>Palabras Sugeridas</span>
				<ul class="words">
					<li th:each="words: ${suggest}" th:data="${words}" onclick="javascript:buscar(this.getAttribute('data'))"><a  th:text="${words}" href="#"></a></li>
<!--					'javascript:buscar(\'' + [[${words}]] + '\');'-->
				</ul>
			</aside>
		</div>
	</div>
	<script th:src="@{/js/index.js}"></script>
</body>

</html>